.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 180px;

	img {
		padding-bottom: 25px;
	}

	.input_div {
		position: relative;

		.input_icon {
			width: 20px;
			position: relative;
			left: 40px;
			top: 2px;
		}

		input {
			border: 1px solid #dfe1e5;
			font-size: 1.6rem;
			border-radius: 24px;
			background: #fff;
			min-width: 484px;
			width: 584px;
			max-width: 584px;
			height: 45px;
			padding-left: 50px;
			margin: 0 auto;
		}		
	}

	.buttons {
		padding-top: 30px;
		padding-bottom: 30px;

		button {
			white-space: nowrap;
			background-color: #f8f9fa;
			color: #3c4043;
			border: 1px solid #f8f9fa;
			border-radius: 4px;
			font-family: arial, sans-serif;
			cursor: pointer;
			height: 36px;
			text-align: center;
			width: 130px;
			font-size: 14px;
		
			&:nth-child(1){
				margin-right: 5px;
			}

			&:nth-child(2){
				margin-left: 5px;
			}

			&:hover {
				border: 1px solid #d1d1d1;
			}
		}
	}

	p {
		font-size: small;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}