* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, body {
  font-family: arial, sans-serif;
}

*, li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px 15px 24px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li svg {
  width: 24px;
  height: 24px;
  color: currentColor;
}

header nav ul li svg:hover {
  background-color: #eee;
  border-radius: 50%;
}

header nav ul li img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

header nav ul li .tooltip {
  position: relative;
  display: inline-block;
}

header nav ul li .tooltip .tooltiptext {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  visibility: hidden;
  background-color: #707070;
  color: white;
  width: 120px;
  font-size: 15px;
  right: 1px;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  display: block;
  z-index: 1;
}

header nav ul li .tooltip:hover .tooltiptext {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  visibility: visible;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 180px;
}

.heading img {
  padding-bottom: 25px;
}

.heading .input_div {
  position: relative;
}

.heading .input_div .input_icon {
  width: 20px;
  position: relative;
  left: 40px;
  top: 2px;
}

.heading .input_div input {
  border: 1px solid #dfe1e5;
  font-size: 1.6rem;
  border-radius: 24px;
  background: #fff;
  min-width: 484px;
  width: 584px;
  max-width: 584px;
  height: 45px;
  padding-left: 50px;
  margin: 0 auto;
}

.heading .buttons {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading .buttons button {
  white-space: nowrap;
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  cursor: pointer;
  height: 36px;
  text-align: center;
  width: 130px;
  font-size: 14px;
}

.heading .buttons button:nth-child(1) {
  margin-right: 5px;
}

.heading .buttons button:nth-child(2) {
  margin-left: 5px;
}

.heading .buttons button:hover {
  border: 1px solid #d1d1d1;
}

.heading p {
  font-size: small;
}

.heading p a {
  text-decoration: none;
}

.heading p a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  font-size: 14px;
}

footer p {
  padding-bottom: 15px;
  padding-top: 10px;
}

footer hr {
  border: 0;
  border-top: 1px solid #ccc;
}

footer ul {
  padding-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

footer ul li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
  float: left;
}

footer ul li.right-side {
  float: right;
}

footer ul li a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */